@import url('https://fonts.cdnfonts.com/css/tabac-sans');


html, body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1;
    padding-top: 60px;
}
.footer {
    background-color: #212529;
    color: white;
    text-align: center;
    padding-left: 40px;

}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #343a40;
    z-index: 1030;
}

.w_footer_button{
    background: transparent;
    outline: None;
    border: none;
    color: white;
}
